@page "/category"
@page "/category/{id:int}"
@using Microsoft.AspNetCore.Components.Forms

@inject ICategoriaService categoriaService;
@inject IToastService toastService;
@inject NavigationManager _navService;

@attribute [Authorize(Roles = "Administrador")];

<body id="page-top">
    <div id="wrapper">

        <Ecommerce.Frontend.Shared.AdminLateralMenu />

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <Ecommerce.Frontend.Shared.AdminNavMenu />

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">@titulo</h1>
                    <p class="mb-4">
                        Cree o modifique una categoría
                    </p>

                    <!-- Category Table -->
                    <RadzenTemplateForm Data="@modelo">
                        <RadzenStack>
                            <RadzenFieldset Text="Categoria">
                                <RadzenStack Gap="1rem">
                            <RadzenRow AlignItems="AlignItems.Center">
                                        <RadzenColumn Size="12" SizeMD="1">
                                            <RadzenLabel Text="Nombre" />
                                        </RadzenColumn>
                                        <RadzenColumn Size="12" SizeMD="8">
                                    <RadzenTextBox Style="width: 30%;" @bind-Value="@modelo.Nombre" Placeholder="Nombre" />
                            </RadzenColumn>
                            </RadzenRow>
                                </RadzenStack>
                            </RadzenFieldset>
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
                            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Medium" Icon="save" Text="Guardar" Click="@(() => GuardarCambios())" />
                            <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Icon="undo" Text="Volver" Click="@(() => BackToCategories())" />
                        </RadzenStack>
                    </RadzenTemplateForm>

                </div>
            </div>
        </div>
    </div>
</body>


@code {
    [Parameter] public int Id { get; set; }
    private string titulo = "Nueva Categoria";
    private string boton = "Crear";
    private CategoriaDTO modelo = new CategoriaDTO();

    protected override async Task OnParametersSetAsync()
    {
        if (Id != 0)
        {
            titulo = "Editar Categoria";
            boton = "Actualizar";

            var response = await categoriaService.Get(Id);
            if (response.IsCorrect!)
            {
                modelo = (CategoriaDTO)response.Result!;
            }
            else
                toastService.ShowWarning(response.Message!);
        }
    }

    private async Task GuardarCambios()
    {

        bool respuesta = true;
        string mensaje = string.Empty;

        if (Id != 0)
        {
            var response = await categoriaService.Edit(modelo);
            if (response.IsCorrect)
                mensaje = "Categoria fue modificada";
            else
            {
                respuesta = false;
                mensaje = "No se pudo editar";
            }
        }
        else
        {
            var response = await categoriaService.Create(modelo);
            if (response.IsCorrect)
                mensaje = "Categoria fue creada";
            else
            {
                respuesta = false;
                mensaje = "No se pudo crear";
            }
        }

        if (respuesta)
        {
            toastService.ShowSuccess(mensaje);
            _navService.NavigateTo("/categories");
        }
        else
            toastService.ShowError(mensaje);
    }

    private async Task BackToCategories()
    {
        _navService.NavigateTo("/categories");
    }
}
