@page "/"
@page "/inicio"

@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;

@inject IProductoService productoServicio;
@inject ICategoriaService categoriaServicio;
@inject ICarritoService carritoServicio;
@inject IWishlistService wishlistServicio
@inject IToastService toastService
@inject NavigationManager _navServicio
@inject AuthenticationStateProvider authenticationStateProvider;

<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- Mirrored from htmldemo.net/phuler/phuler/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Jan 2024 18:29:48 GMT -->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Phuler - Flower eCommerce Bootstrap 5 Template</title>
        <meta name="description" content="">
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/simple-line-icons.css">
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
    <body>

<div id="home">
    @*Slider Section*@
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="assets/img/slider/slider-1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Titulo</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/slider/slider-2.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Titulo</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/slider/slider-3.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Titulo</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>
    @*End slider section*@
    @*Banner Section*@
    <div class="banner-area">
        <div class="container">
            <div class="banner-wrap">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="single-banner img-zoom mb-30">
                            <a href="#">
                                <img src="assets/img/banner/banner-1.png" alt="">
                            </a>
                            <div class="banner-content">
                                <h4>Camellias</h4>
                                <a href="catalogo">Ir a Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-banner img-zoom mb-30">
                            <a href="#">
                                <img src="assets/img/banner/banner-2.png" alt="">
                            </a>
                            <div class="banner-content">
                                <h4>Bergamot</h4>
                                    <a href="catalogo">Ir a Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-banner mb-xs-banner img-zoom mb-30">
                            <a href="#">
                                <img src="assets/img/banner/banner-3.png" alt="">
                            </a>
                            <div class="banner-content">
                                <h4>Bottlebrush</h4>
                                    <a href="catalogo">Ir a Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*End Banner Section*@
        @*Feature Products*@
        <div class="product-area pt-40 pb-70">
            <div class="container">
                <div class="product-top-bar section-border mb-35">
                    <div class="section-title-wrap">
                        <h3 class="section-title section-bg-white">Productos destacados</h3>
                    </div>
                    <div class="product-tab-list nav section-bg-white">
                        <a data-bs-toggle="tab" href="#tabTodos" class="@("Todos" == categoriaSeleccionada ? "active" : "")">
                            <h4>Todos</h4>
                        </a>
                        @if (listaCategoria != null && listaCategoria.Any())
                        {
                            foreach (var categoria in listaCategoria)
                            {
                                <a data-bs-toggle="tab" href="#tab@(categoria.IdCategoria)" class="@(categoria.Nombre == categoriaSeleccionada ? "active" : "")">
                                    <h4>@categoria.Nombre</h4>
                                </a>
                            }
                        }
                    </div>
                </div>
                <div class="tab-content jump">
                    <div id="tabTodos" class="tab-pane @(categoriaSeleccionada == "Todos" ? "active show" : "")" role="tabpanel">
                        <div class="featured-product-active owl-carousel product-nav owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage">
                                    @if (listaProducto != null && listaProducto.Any())
                                    {
                                        foreach (var item in listaProducto)
                                        {
                                            <div class="owl-item cloned">
                                                <!-- Código del producto aquí -->
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <a href="@item.IdProducto">
                                                            <img alt="" src="@item.Imagen">
                                                        </a>
                                                        @if (item.PrecioOferta != item.Precio)
                                                        {
                                                            <span>@CalcularPorcentajeDescuento(item)%</span>
                                                        }
                                                        <div class="product-action">
                                                            <a class="action-wishlist" @onclick="(async() => await AgregarWishlist(item))" title="Wishlist">
                                                                <i class="icon-heart"></i>
                                                            </a>
                                                            <a class="action-cart" @onclick="(async() => await AgregarCarrito(item))" title="Add To Cart">
                                                                <i class="icon-handbag"></i>
                                                            </a>
                                                            <a class="action-compare" @onclick="(async() => await ShowQuickView(item))" data-bs-target="#exampleModal" data-bs-toggle="modal" title="Quick View">
                                                                <i class="icon-magnifier-add"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-content text-center">
                                                        <h4>
                                                            <a href="product-details.html">@item.Nombre </a>
                                                        </h4>
                                                        <div class="product-price-wrapper">
                                                            <span>$@item.PrecioOferta</span>
                                                            <span class="product-price-old">$@item.Precio </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="ion-ios-arrow-back"></i></button><button type="button" role="presentation" class="owl-next"><i class="ion-ios-arrow-forward"></i></button></div><div class="owl-dots disabled"></div>
                        </div>
                    </div>
                    @if (listaCategoria != null && listaCategoria.Any())
                    {
                        foreach (var categoria in listaCategoria)
                        {
                            <div id="tab@(categoria.IdCategoria)" class="tab-pane @(categoria.Nombre == categoriaSeleccionada ? "active show" : "")" role="tabpanel">
                                <div class="featured-product-active owl-carousel product-nav owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage">
                                            @if (listaProducto != null && listaProducto.Any())
                                            {
                                                foreach (var item in listaProducto.Where(p => p.IdCategoria == categoria.IdCategoria))
                                                {
                                                    <div class="owl-item cloned">
                                                        <!-- Código del producto aquí -->
                                                        <div class="product-wrapper">
                                                            <div class="product-img">
                                                                <a href="@item.IdProducto">
                                                                    <img alt="" src="@item.Imagen">
                                                                </a>
                                                                <span>@CalcularPorcentajeDescuento(item)%</span>
                                                                <div class="product-action">
                                                                    <a class="action-wishlist" @onclick="(async() => await AgregarWishlist(item))" title="Wishlist">
                                                                        <i class="icon-heart"></i>
                                                                    </a>
                                                                    <a class="action-cart" @onclick="(async() => await AgregarCarrito(item))" title="Add To Cart">
                                                                        <i class="icon-handbag"></i>
                                                                    </a>
                                                                    <a class="action-compare" @onclick="(async() => await ShowQuickView(item))" data-bs-target="#exampleModal" data-bs-toggle="modal" title="Quick View">
                                                                        <i class="icon-magnifier-add"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="product-content text-center">
                                                                <h4>
                                                                    <a href="product-details.html">@item.Nombre </a>
                                                                </h4>
                                                                <div class="product-price-wrapper">
                                                                    <span>$@item.PrecioOferta</span>
                                                                    <span class="product-price-old">$@item.Precio </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="ion-ios-arrow-back"></i></button><button type="button" role="presentation" class="owl-next"><i class="ion-ios-arrow-forward"></i></button></div><div class="owl-dots disabled"></div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    @*End Feature Products*@
    @*Testimonials Section*@
        <div class="testimonials-area bg-img pt-120 pb-115" style="background-image:url(assets/img/bg/bg-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ms-auto col-12">
                        <div class="testimonial-active owl-carousel">
                            <div class="single-testimonial text-center">
                                <div class="testimonial-img">
                                    <img alt="" src="assets/img/icon-img/testi.png">
                                </div>
                                <p>Cada flor que se abre nos recuerda que el mundo aún no está cansado de los colores.</p>
                                <h4>Fabrizio Caramagna</h4>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*End Testimonials Section*@
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <!-- Thumbnail Large Image start -->
                                <div class="tab-content">
                                    <div id="pro-1" class="tab-pane fade show active">
                                        <img src="assets/img/product-details/product-detalis-l1.jpg" alt="">
                                    </div>
                                    <div id="pro-2" class="tab-pane fade">
                                        <img src="assets/img/product-details/product-detalis-l2.jpg" alt="">
                                    </div>
                                    <div id="pro-3" class="tab-pane fade">
                                        <img src="assets/img/product-details/product-detalis-l3.jpg" alt="">
                                    </div>
                                    <div id="pro-4" class="tab-pane fade">
                                        <img src="assets/img/product-details/product-detalis-l4.jpg" alt="">
                                    </div>
                                </div>
                                <!-- Thumbnail Large Image End -->
                                <!-- Thumbnail Image End -->
                                <div class="product-thumbnail">
                                    <div class="thumb-menu owl-carousel nav nav-style" role="tablist">
                                        <button class="active" data-bs-toggle="tab" data-bs-target="#pro-1"><img src="assets/img/product-details/product-detalis-s1.jpg" alt=""></button>
                                        <button data-bs-toggle="tab" data-bs-target="#pro-2"><img src="assets/img/product-details/product-detalis-s2.jpg" alt=""></button>
                                        <button data-bs-toggle="tab" data-bs-target="#pro-3"><img src="assets/img/product-details/product-detalis-s3.jpg" alt=""></button>
                                        <button data-bs-toggle="tab" data-bs-target="#pro-4"><img src="assets/img/product-details/product-detalis-s4.jpg" alt=""></button>
                                    </div>
                                </div>
                                <!-- Thumbnail image end -->
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="modal-pro-content">
                                    <h3>@modalProducto?.Nombre</h3>
                                    <div class="product-price-wrapper">
                                        <span class="product-price-old">$@modalProducto?.Precio</span>
                                        <span>$@modalProducto?.PrecioOferta</span>
                                    </div>
                                    <p>@modalProducto?.Descripcion</p>
                                    <div class="quick-view-select">
                                        <div class="select-option-part">
                                            <label>* Tamaño</label>
                                            <select class="select">
                                                <option value="">S</option>
                                                <option value="">M</option>
                                                <option value="">L</option>
                                            </select>
                                        </div>
                                        <div class="quickview-color-wrap">
                                            <label>* Color</label>
                                            <div class="quickview-color">
                                                <ul>
                                                    <li class="blue">b</li>
                                                    <li class="red">r</li>
                                                    <li class="pink">p</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="01">
                                        </div>
                                        <button @onclick="(async() => await AgregarCarrito(modalProducto))">Agregar al carrito</button>
                                    </div>
                                    <span><i class="fa fa-check"></i> En Stock</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->
</div>
</body>
</html>

@code{
    private List<CategoriaDTO>? listaCategoria = null;
    private List<ProductoDTO>? listaProducto = null;
    private string buscar = "";
    private string categoriaSeleccionada = "Todos";
    private ProductoDTO? modalProducto;

    private async Task ShowQuickView(ProductoDTO modelo)
    {
        modalProducto = modelo;
    }

    private async Task ObtenerCategorias(string Valor = "")
    {
        var response = await categoriaServicio.List(Valor);

        if (response.IsCorrect)
        {
            listaCategoria = (List<CategoriaDTO>)response.Result!;
        }
        else
        {
            listaCategoria = new List<CategoriaDTO>();
        }
    }

    private async Task ObtenerCatalogo()
    {
        var response = await productoServicio.Catalogue(categoriaSeleccionada, buscar);

        if (response.IsCorrect)
        {
            listaProducto = (List<ProductoDTO>)response.Result!;
        }
        else
        {
            listaProducto = new List<ProductoDTO>();
        }
    }

    private async Task RadioSeleccion(ChangeEventArgs args)
    {
        categoriaSeleccionada = args.Value.ToString();
        buscar = "";
        await ObtenerCatalogo();
    }

    protected override async Task OnInitializedAsync()
    {
        await ObtenerCategorias();
        await ObtenerCatalogo();
    }

    private async Task AgregarWishlist(ProductoDTO modelo)
    {
        var autenticacionState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var usuarioLogueado = autenticacionState.User;

        if (usuarioLogueado.Identity?.IsAuthenticated ?? false)
        {
            var idUsuario = usuarioLogueado.FindFirst(ClaimTypes.NameIdentifier)?.Value;

            if (int.TryParse(idUsuario, out int idUsuarioInt))
            {
                WishlistDTO wishlist = new WishlistDTO()
                    {
                        IdUsuario = idUsuarioInt,
                        IdProducto = modelo.IdProducto,
                        Cantidad = 1,
                        FechaCreacion = DateTime.Now
                    };

                await wishlistServicio.Add(wishlist);
                toastService.ShowSuccess("Producto agregado a la lista de deseos");
            }
            else
            {
                // Manejo de error si no se pudo obtener el ID del usuario
                toastService.ShowError("No se pudo obtener el ID del usuario");
            }
        }
        else
        {
            // Manejo de error si el usuario no está autenticado
            toastService.ShowError("El usuario no se encuentra autenticado");
            _navServicio.NavigateTo("/login");
        }
    }

    private async Task AgregarCarrito(ProductoDTO modelo)
    {
        decimal? precioFinal = (modelo.PrecioOferta != 0 && modelo.PrecioOferta < modelo.Precio) ? modelo.PrecioOferta : modelo.Precio;
        CarritoDTO carrito = new CarritoDTO()
            {
                Producto = modelo,
                Cantidad = 1,
                Precio = precioFinal,
                Total = precioFinal
            };
        await carritoServicio.AddCarrito(carrito);
    }

    private decimal? CalcularPorcentajeDescuento(ProductoDTO producto)
    {
        if (producto.PrecioOferta > 0 && producto.PrecioOferta < producto.Precio)
        {
            decimal? descuento = producto.Precio - producto.PrecioOferta;
            decimal? porcentajeDescuento = (descuento / producto.Precio) * 100;
            return Math.Round(porcentajeDescuento ?? 0, 2);
        }

        return null;
    }

}