@page "/detail/{id:int}"
@using Ecommerce.DTO
@using Ecommerce.Frontend.Services.Contrat
@using Ecommerce.Frontend.Shared
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject IProductoService productoServicio;
@inject ICarritoService carritoServicio
@inject IWishlistService wishlistServicio;
@inject AuthenticationStateProvider authenticationStateProvider;
@inject IToastService toastService
@inject NavigationManager _navServicio

<BreadCrumb BreadcrumbItems="@breadcrumbItems" />

<section class="product_details mb-135">
    <div class="container">
        @if (modelo != null)
        {
            <div class="row">
                <div class="col-lg-6 col-md-6">
                <div class="product_zoom_gallery">
                    <div class="zoom_gallery_inner d-flex">
                        <div class="zoom_tab_img slick-initialized slick-slider slick-vertical">
                            <div class="slick-list draggable" style="height: 370.375px; padding: 0px;">
                                <div class="slick-track" style="opacity: 1; height: 1945px; transform: translate3d(0px, -370px, 0px);">
                                    <div class="slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" tabindex="-1" style="width: 72px;">
                                        <div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1">
                                            <img src="assets/img/product/small-product/product4.png" alt="tab-thumb">
                                            </a>
                                            </div>
                                            </div>
                                            <div class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1" style="width: 72px;">
                                            <div>
                                                <a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product1.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product2.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product3.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned slick-active" data-slick-index="-1" aria-hidden="false" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="0"><img src="assets/img/product/small-product/product4.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-current slick-active slick-center" data-slick-index="0" aria-hidden="false" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="0"><img src="assets/img/product/small-product/product1.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="0"><img src="assets/img/product/small-product/product2.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="0"><img src="assets/img/product/small-product/product3.png" alt="tab-thumb"></a></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product4.png" alt="tab-thumb"></a></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product1.png" alt="tab-thumb"></a></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product2.png" alt="tab-thumb"></a></div></div><div class="slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product3.png" alt="tab-thumb"></a></div></div><div class="slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product4.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product1.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product2.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product3.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned slick-center" data-slick-index="11" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product4.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product1.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product2.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product3.png" alt="tab-thumb"></a></div></div><div class="slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" tabindex="-1" style="width: 72px;"><div><a class="zoom_tabimg_list" href="javascript:void(0)" style="width: 100%; display: inline-block;" tabindex="-1"><img src="assets/img/product/small-product/product4.png" alt="tab-thumb"></a></div></div></div></div></div>
                        <div class="product_zoom_main_img slick-initialized slick-slider slick-vertical">
                            <div class="slick-list draggable" style="height: 588.594px; padding: 0px;">
                                <div class="slick-track" style="opacity: 1; height: 10595px; transform: translate3d(0px, -1177px, 0px);">
                                    <div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-current slick-active slick-center" data-slick-index="0" aria-hidden="false" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned slick-center" data-slick-index="14" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div><div class="slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" tabindex="-1" style="width: 485px;">
                                        <div>
                                            <div class="product_zoom_thumb" style="width: 100%; display: inline-block;">
                                                <img data-image="assets/img/product/big-product/product1.png" src="assets/img/product/big-product/product1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <form action="#">
                            <h1>@modelo.Nombre</h1>
                        <div class="product_ratting_review d-flex align-items-center">
                            <div class=" product_ratting">
                                <ul class="d-flex">
                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                    <li><a href="#"><i class="ion-ios-star"></i></a></li>
                                </ul>
                            </div>
                            <div class="product_review">
                                <ul class="d-flex">
                                    <li>4 reviews</li>
                                    <li>Write your review</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price_box">
                                <span class="current_price">$@modelo.Precio</span>
                        </div>
                        <div class="product_availalbe">
                            <ul class="d-flex">
                                <li>Availalbe: <span class="stock">In Stock</span></li>
                            </ul>
                        </div>
                        <div class="product_desc">
                                <p>@modelo.Descripcion</p>
                        </div>
                        <div class="product_variant">
                            <div class="filter__list widget_color d-flex align-items-center">
                                <h3>select color</h3>
                                <ul>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color1"></span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color2"></span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color3"></span>
                                    </li>
                                    <li>
                                        <input type="checkbox">
                                        <span class="checkmark color5"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter__list widget_size d-flex align-items-center">
                                <h3>select size</h3>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">S </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> M</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">L</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"> XL</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">XLL</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="variant_quantity_btn d-flex">
                                <div class="pro-qty border">
                                    <a href="#" class="dec qty-btn">-</a>
                                    <input min="1" max="100" type="tex" value="1">
                                    <a href="#" class="inc qty-btn">+</a>
                                </div>
                                    <button class="button btn btn-primary" @onclick="(async() => await AgregarCarrito(modelo))" type="button"><i class="ion-android-add"></i> Add To Cart</button>
                                    <a class="wishlist" @onclick="(async() => await AgregarWishlist(modelo))" type="button"><i class="ion-ios-heart"></i></a>
                            </div>
                        </div>
                        <div class="product_sku">
                            <p><span>SKU: </span> #ABC123456</p>
                        </div>
                        <div class="product_tags d-flex">
                            <span>tags: </span>
                            <ul class="d-flex">
                                <li><a href="#">fashion,</a></li>
                                <li><a href="#">clothings,</a></li>
                                <li><a href="#">accessorires</a></li>
                            </ul>
                        </div>
                        <div class="priduct_social d-flex">
                            <span>SHARE: </span>
                            <ul>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        }
    </div>
</section>

<div class="product_d_info mb-118">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button border-bottom">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Product Description</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false" class="">Reviews          </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tags" role="tab" aria-controls="tags" aria-selected="false" class="">Tags </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#additional" role="tab" aria-controls="additional" aria-selected="false" class="">Additional Information </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tabinfo" role="tab" aria-controls="tabinfo" aria-selected="false" class="">Custom Tab Info  </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false" class="">Custom Tab Video </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="info" role="tabpanel">
                            <div class="product_info_content">
                                <p>Coupling a blended linen construction with tailored style, the River Island HR Jasper Blazer will imprint a touch of dapper charm into your after-dark wardrobe. <br> Our model wearing a size medium blazer, and usually takes a size medium/38L shirt. <br> He is 6’2 1/2” (189cm) tall with a 38” (96 cm) chest and a 31” (78 cm) waist.</p>
                                <ul>
                                    <li>Length: 74cm</li>
                                    <li>Regular fit</li>
                                    <li>Notched lapels</li>
                                    <li>Twin button front fastening</li>
                                    <li>Front patch pockets; chest pocket</li>
                                    <li> Internal pockets</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel">
                            <div class="reviews_wrapper">
                                <h2>1 review for Donec eu furniture</h2>
                                <div class="reviews_comment_box">
                                    <div class="comment_thmb">
                                        <img src="assets/img/blog/comment2.jpg" alt="">
                                    </div>
                                    <div class="comment_text">
                                        <div class="reviews_meta">
                                            <div class="star_rating">
                                                <ul class="d-flex">
                                                    <li><a href="#"><i class="icon-star"></i></a></li>
                                                    <li><a href="#"><i class="icon-star"></i></a></li>
                                                    <li><a href="#"><i class="icon-star"></i></a></li>
                                                    <li><a href="#"><i class="icon-star"></i></a></li>
                                                    <li><a href="#"><i class="icon-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <p><strong>admin </strong>- September 12, 2018</p>
                                            <span>roadthemes</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="comment_title">
                                    <h2>Add a review </h2>
                                    <p>Your email address will not be published.  Required fields are marked </p>
                                </div>
                                <div class="product_ratting mb-10">
                                    <h3>Your rating</h3>
                                    <ul class="d-flex">
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product_review_form">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-12">
                                                <label for="review_comment">Your review </label>
                                                <textarea name="comment" id="review_comment"></textarea>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="author">Name</label>
                                                <input id="author" type="text">

                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label for="email">Email </label>
                                                <input id="email" type="text">
                                            </div>
                                        </div>
                                        <button type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tags" role="tabpanel">
                            <div class="product_info_content">
                                <ul>
                                    <li>Length: 74cm</li>
                                    <li>Regular fit</li>
                                    <li>Notched lapels</li>
                                    <li>Twin button front fastening</li>
                                    <li>Front patch pockets; chest pocket</li>
                                    <li> Internal pockets</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="additional" role="tabpanel">
                            <div class="product_d_table">
                                <form action="#">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="first_child">Compositions</td>
                                                <td>Polyester</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Styles</td>
                                                <td>Girly</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Properties</td>
                                                <td>Short Dress</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="product_info_content">
                                <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabinfo" role="tabpanel">
                            <div class="product_d_table">
                                <form action="#">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="first_child">Compositions</td>
                                                <td>Polyester</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Styles</td>
                                                <td>Girly</td>
                                            </tr>
                                            <tr>
                                                <td class="first_child">Properties</td>
                                                <td>Short Dress</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="product_info_content">
                                <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="video" role="tabpanel">
                            <div class="product_tab_vidio text-center">
                                <iframe width="729" height="410" src="https://www.youtube.com/embed/BUWzX78Ye_8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div class="container px-4 px-lg-5 my-5">
    @if (modelo != null)
    {
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top border-dark border-1" src="@modelo.Imagen" style="width:100%;">
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">@modelo.Nombre</h1>
                <div class="fs-5 mb-5">
                    @if (modelo.PrecioOferta != 0 && modelo.PrecioOferta < modelo.Precio)
                    {
                        <span class="text-danger text-decoration-line-through">$ @modelo.Precio</span>
                        <span>$ @modelo.PrecioOferta</span>
                    }
                    else
                    {
                        <span>$ @modelo.Precio</span>
                    }
                </div>
                <p class="lead">@modelo.Descripcion</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" type="number" min="1" style="width:60px" @bind-value="cantidad">
                    <button class="btn btn-outline-dark flex-shrink-0 me-3" type="button" @onclick="(async() => await AgregarCarrito(modelo))">
                        <i class="bi-cart-fill me-1"></i>
                        Agregar al carrito
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0 me-3" type="button" @onclick="(async() => await AgregarWishlist(modelo))">
                        <i class="bi-cart-fill me-1"></i>
                        Agregar a la lista de deseos
                    </button>
                    <a class="btn btn-outline-dark flex-shrink-0" href="/catalogue">
                        <i class="bi-cart-fill me-1"></i>
                        Volver
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
</div>
 *@
<Footer />

@code {
    [Parameter] public int Id { get; set; }
    private ProductoDTO? modelo = null;
    private int cantidad = 1;
    private List<BreadCrumb.BreadcrumbItem> breadcrumbItems;

    protected override async Task OnInitializedAsync()
    {
        breadcrumbItems = new List<BreadCrumb.BreadcrumbItem>
        {
            new BreadCrumb.BreadcrumbItem { Text = "Home", Url = "/" },
            new BreadCrumb.BreadcrumbItem { Text = "Detail", Url = $"/detail/{Id}" }
        };
    }

    protected override async Task OnParametersSetAsync()
    {
        var response = await productoServicio.Get(Id);
        if (response.IsCorrect)
            modelo = (ProductoDTO)response.Result!;
    }

    private async Task AgregarCarrito(ProductoDTO modelo)
    {
        decimal? precioFinal = (modelo.PrecioOferta != 0 && modelo.PrecioOferta < modelo.Precio) ? modelo.PrecioOferta : modelo.Precio;
        CarritoDTO carrito = new CarritoDTO()
            {
                Producto = modelo,
                Cantidad = cantidad,
                Precio = precioFinal,
                Total = Convert.ToDecimal(cantidad) * precioFinal
            };
        await carritoServicio.AddCarrito(carrito);
    }

    private async Task AgregarWishlist(ProductoDTO modelo)
    {
        var autenticacionState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var usuarioLogueado = autenticacionState.User;

        if (usuarioLogueado.Identity?.IsAuthenticated ?? false)
        {
            var idUsuario = usuarioLogueado.FindFirst(ClaimTypes.NameIdentifier)?.Value;

            if (int.TryParse(idUsuario, out int idUsuarioInt))
            {
                WishlistDTO wishlist = new WishlistDTO()
                    {
                        IdUsuario = idUsuarioInt,
                        IdProducto = modelo.IdProducto,
                        FechaCreacion = DateTime.Now
                    };

                await wishlistServicio.Add(wishlist);
                toastService.ShowSuccess("Producto agregado a la lista de deseos");
            }
            else
            {
                toastService.ShowError("No se pudo obtener el ID del usuario");
            }
        }
        else
        {
            toastService.ShowError("El usuario no se encuentra autenticado");
            _navServicio.NavigateTo("/login");
        }
    }
}